*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: darkslategray;
}

.characterCard {
  border: 1px solid black;
  margin: 1rem 1rem;
}

.characterCard > h3 {
  text-align: center;
}

.allCharacterCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  background-color: #ffffff;
  text-align: center;
}

.headline {
  font-size: 3rem;
  text-align: center;
}

.searchField {
  margin: 1rem;
  width: 300px;
}
